body {
  background-color: #0A1931;
  color: #EFEFEF;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: pink;
  border-width: 5px;
  width: 5%;
}

img {
  height: 150px;
}

h1, h3 {
  color: #FFC947;
}
